@page "/"

@*<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.*@

<h3>Movie App</h3>

<p>Witaj w aplikacji do wyszukiwania filmów.</p>

<p>
    Przejdź do:
</p>

<ul>
    <li><a href="/search">Search Movies</a></li>
    <li><a href="/saved">Saved Movies</a></li>
</ul>
